<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd" 
	id="WebApp_ID" version="2.4">
	<display-name>EnnMonitorConfigServiceWeb</display-name>
	<welcome-file-list>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>
	
	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>
    
    <context-param>
        <param-name>contextConfigLocation</param-name>
        <param-value>
            classpath*:spring/service-front.xml
        </param-value>
    </context-param>
    
    <!-- add RequestIdentity header to response -->
	<!-- <filter>
		<filter-name>RequestIdentityGenerateFilter</filter-name>
		<filter-class>enn.monitor.framework.front.filter.EnnMonitorFrontFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>RequestIdentityGenerateFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping> -->
    
    <!-- spring mvc -->
    <servlet>
        <servlet-name>springDispatcher</servlet-name>
        <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
        <init-param>
            <param-name>contextConfigLocation</param-name>
            <param-value>classpath:spring/service-front-config.xml</param-value>
        </init-param>
        <load-on-startup>2</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>springDispatcher</servlet-name>
        <url-pattern>/</url-pattern>
    </servlet-mapping>

</web-app>
